@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background-image: url(/img/bckg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

/* HEADER */

.nav-bar {
    padding-right: 70px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    justify-content: flex-end;
}

.container {
    height: 100%;
    width: 100%;
}

.main-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    padding: 70px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.line {
    width: 1px;
    height: 19px;
    padding-right: 19px;
    padding-left: 19px;
}

li {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}

.social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 2rem;
}

.left-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.social-link {
    color: aliceblue;

}

/* SIGN-UP */

.second-container {
    width: 100vw;
    height: calc(100vh - 58px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    overflow: scroll;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.First-section {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.sign-up-legend {
    font-size: 20px;
    color: #434343;
    cursor: pointer;
}

.Log-in {
    cursor: pointer;
    color: #3cb878;
    font-size: 20px;
}

.head-text {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 322px;
}

.menu-main {
    position: relative;
    width: 444px;
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding-bottom: 38px;
    padding-top: 31px;
    height: 584px;
}

.btn-social {
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    width: 160px;
    height: 48px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}

.facebook {
    background-color: #305DB8;
    position: relative;


}

.mail {
    background-color: #DF4A32;
    position: relative;


}

.svg-btn1 {
    margin-right: 40px;
}

.svg-btn2 {
    margin-right: 40px;
}

.Second-section {
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.or-decoration {
    margin-top: 31px;
    position: relative;
    width: 100%;
    text-align: center;
    color: #848484;
    font-size: 15px;
}

.Third-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1.0rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 44px;
    width: 322px;
    border: 1px solid white;
    border-radius: 4px;
    color: #434343;
    font-size: 14px;
    border: none;
}

.checkbox {
    display: none;

}

.text--1 {
    color: black;
}

.fake {
    display: inline-block;
    width: 18px;
    height: 18px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-right: 15px;
}

.label {
    margin-right: 40px
}

.text--2 {
    text-decoration: none;
    color: #01813F;
}

.create-account-btn {
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}


/* PSEUDO */
.menu-main::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 34px;
    background-color: #01813F;
}

.or-decoration::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 59px;
    width: 157px;
    height: 1px;
    background-color: #848484;
    opacity: 0.2;

}

.or-decoration::after {
    content: "";
    position: absolute;
    width: 157px;
    height: 1px;
    top: 50%;
    background-color: #848484;
    opacity: 0.2;


}

.facebook::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: #2b0d092b;
    left: 50px;
    opacity: 0.4;
}

.mail::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: #2B0D09;
    left: 60px;
    opacity: 0.3;
}

.fake::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/img/gg.png);
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: linear 0.2s;
    background-repeat: no-repeat;

}

.checkbox:checked+.fake::before {
    display: block;
    opacity: 1;

}



/* HOVER */
input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding-left: 8px;
    color: #707070;
}

.facebook:hover {
    background-color: #022263;
}

.mail:hover {
    background-color: #AB1F09;
}

.social-link:hover {
    color: #01813F;
}

.text-1:hover {
    color: #01813F;
}

.text-2:hover {
    color: #01813F;
}

.logo:hover {
    color: #01813F;
}

.text--2:hover {
    text-decoration: underline;
    color: #01813F;
}

.create-account-btn:hover {
    background-color: #01813F;
}

.change-theme-btn {
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    background-color: gray;
    width: 100px;
    height: 50px;
}

[theme = dark] .menu-main{  
    background-color:black;
    
}
[theme = dark] input{  
    background-color: black;
    box-shadow: 4px 4px 4px 4px white;
    color: #fff;
    
}
[theme = dark] input::-webkit-input-placeholder {  
    color: white ;
    
}